@import url('https://fonts.googleapis.com/css?family=Exo');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Lora');

/* Color scheme & Font
Out
Blue: #0083ad
#ad00ad (Magenta)
#f8f8f8 (Pearl White)

Green 286F6B
yellow EEB33D
White F8F7F2

Good
more serious 
Dark blue 314455
Orange C96567
Light blue 97AABD

*** more innovative
Purple 77A6F7
Green 00887A
White ffffff
*/



/*GENERAL STYLE*/

body {
    font-family: 'Montserrat', sans-serif;
    padding-top: 54px;
    color: #ffffff;
}

@media (min-width: 992px) {
    body {
        padding-top: 0;
        padding-left: 17rem;
    }
}

h1,
h3,
h4,
h5,
h6 {
    font-family: 'Lora', serif;
    font-weight: 700;
    text-transform: capitalize;
    color: #77A6F7;
}

/* For Section Header  */
h2 {
    font-family: 'Lora', serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #77A6F7;
}


h1 {
    font-size: 6rem;
    line-height: 5.5rem;
}

h2 {
    font-size: 3.5rem;
}
h2 span {
    position: relative;
  }
  
  h2 span:before, h2 span:after {
    display: inline-block;
    content: '';
    height: 1px;
    width: 50px;
    background-color: #77A6F7;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }
  
  h2 span:before {
    left: -60px;
  }
  
  h2 span:after {
    right: -60px;
  }

a {
    color: #77A6F7;
}

a:hover,
a:focus,
a:active {
    color: #00887A;
}

.subheading {
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Futura', sans-serif;
    font-size: 1.35rem;
}

/*==================================================
                  SOCIAL-ICON
====================================================*/
  .list-social-icons a {
      color: #495057;
  }

  .list-social-icons a:hover {
      color: #77A6F7;
  }

  .list-social-icons a .fa-lg {
      font-size: 1.75rem;
  }

  .list-icons {
      font-size: 3rem;
  }

  .list-icons .list-inline-item i:hover {
      color: #77A6F7;
  }

/*==================================================
                    NAV-BAR 
====================================================*/
  #sideNav {
        background-color: #00887A;
  }  

  #sideNav .navbar-nav .nav-item .nav-link {
      font-weight: 600;
      text-transform: uppercase;
  }

  #sideNav .navbar-collapse .navbar-nav .nav-item i{
    color: #ffffff; 
    border-color:#ffffff;
    display: block;
    font-size: 1.75rem;
  }
  @media (min-width: 992px) {
    #sideNav {
          text-align: center;
          position: fixed;
          top: 0;
          left: 0;
          display: flex;
          flex-direction: column;
          width: 17rem;
          height: 100vh;
      }
      #sideNav .navbar-brand {
          display: flex;
          margin: auto auto 0;
          padding: 0.5rem;
      }
      #sideNav .navbar-brand .img-profile {
          max-width: 10rem;
          max-height: 10rem;
          border: 0.5rem solid rgba(255, 255, 255, 0.2);
      }

      #sideNav .navbar-collapse {
          display: flex;
          align-items: flex-start;
          flex-grow: 0;
          width: 100%;
          margin-bottom: auto;
      }
      #sideNav .navbar-collapse .navbar-nav {
          flex-direction: column;
          width: 100%;
      }
      #sideNav .navbar-collapse .navbar-nav .nav-item {
          display: block;
      }

        #sideNav .navbar-collapse .navbar-nav .nav-item a:hover{
            color: #ffffff;
        }

        #sideNav .navbar-collapse .navbar-nav .nav-item i{
            display: block;
            font-size: 1.75rem;
          }

        #sideNav .navbar-collapse .navbar-nav .nav-item a i:hover{
            color: #77A6F7;
        }

      #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
          display: block;
      }
  }

/*==================================================
                  BUTTON (Generic)
====================================================*/

.btn-general {
    background-color: transparent;
    text-align: center;
    border-width: 1px;
    border-radius: 0px;
    font-size: 16px;
    padding: 10px 15px;
    font-weight: 400;
    text-transform: uppercase;
}

.btn-secondary {
    border-color: #77A6F7;
    background-color: #77A6F7;
    color: #ffffff;
}

.btn-secondary:hover,
.btn-secondary:focus {
    background-color: transparent;
    color: #77A6F7;
    cursor: pointer;
}

.btn-primary {
    border-color: #77A6F7;
    color: #77A6F7;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #77A6F7;
    color: #ffffff;
    cursor: pointer;
}

/*==================================================
                  SECTION (Generic)
====================================================*/
  .heading-border {
      width: 100px;
      height: 10px;
      background-color: #77A6F7;
      margin: 0 auto 20px auto;
  }

  section.resume-section {
      border-bottom: 1px solid #ffffff;
      padding-top: 5rem !important;
      padding-bottom: 5rem !important;
  }

  section.resume-section .resume-item .resume-date {
      min-width: none;
  }

  @media (min-width: 768px) {
    section.resume-section {
          min-height: 100vh;
      }
      section.resume-section .resume-item .resume-date {
          min-width: 18rem;
      }
  }

  @media (min-width: 992px) {
    section.resume-section {
          padding-top: 3rem !important;
          padding-bottom: 3rem !important;
      }
  }

  .bg-primary {
      background-color: #77A6F7 !important;
  }

  .bg-secondary {
        background-color: #ffffff !important;
  }

  .bg-side {
        background-color: #00887A !important;
  }

  .text-primary {
      color: #77A6F7 !important;
  }

  .text-secondary {
      color: #ffffff !important;
  }

  .text-side {
      color: #00887A !important;
  }

  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: space-between;
  }
/*==================================================
                      ABOUT
====================================================*/
  #about {
      /* background-image: url(../img/profile-banner.jpg); 
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat; */
      background-color: #77A6F7;
  }

  #about h1 {
    color: #ffffff;
  }

  #about p {
    color: #ffffff;
  }

  #about div {
    color: #ffffff;
  }

  #about ul li a i:hover{
    color:#00887A;
  }

  /* #about ul li a:hover{
    color:#77A6F7;
  } */
  /*==================================================
                    COMPETENCIES
====================================================*/  
  #competencies {
    background: #ffffff;
  }

  /*animation*/
  #competencies .resume-item {
    opacity: 0; /* Initially hide the resume-item cards */
    transition: opacity 0.5s ease-in-out;
    height: 100%;
    border: none;
  }
  
  #competencies .animate-left {
    animation: floatInLeft 1s ease-in-out forwards;
  }
  
  #competencies .animate-right {
    animation: floatInRight 1s ease-in-out forwards;
  }
  
  @keyframes floatInLeft {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes floatInRight {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @media (min-width: 767px) {
    #competencies h2 {
      width: auto;
    }
  }

#competencies p{
  color: #77A6F7;
  margin-bottom: 2px;
}
  #competencies .timeline {
    position: relative;
    display: block;
    list-style: none;
    padding-left: 0;
    width: 100%;
}
/* Vertical line */
#competencies .timeline::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 2px;
    height: 95%;
    background-color: #77A6F7;
}

#competencies .timeline li {
    position: relative;
    display: block;
    padding-left: 30px;
    margin-bottom: 10px;
}

#competencies .timeline li::before {
    content: '';
    position: absolute;
    top: 8px;
    left: -8px;
    width: 18px;
    height: 18px;
    background-color: #ffffff;
    border: 3px solid #77A6F7;
    border-radius: 50%;
}
/* Header */
#competencies .timeline li .competency-item {
    width: 100%;
    padding: 0px 20px;
    background-color: #77A6F7;
    color: #ffffff;
    /* border: 1px solid #77A6F7; */
    /* box-shadow: 1px 1px 1px 1px #77A6F7; */
    font-weight: 500;
    /* border-radius: 30px 30px 30px 30px; */
    border-radius: 30px 0px 60px 30px;
    top:10px;
}

#competencies .timeline li h3{
    color: #ffffff;
}

/* Content */
#competencies .timeline li .competency-details {
    background-color: #ffffff;
    margin-top: 0px;
    padding: 0px 20px 20px 20px;
    border-radius: 4px;
}

/* #competencies .timeline li .competency-details small {
    display: block;
    font-weight: 500;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 10px;
} */



/*====================================================
                   PORTFOLIO
======================================================*/

#portfolio{
    padding:100px;
    background-color: #77A6F7;
} 

#portfolio h2 span:before, #portfolio h2 span:after {
    background-color: #ffffff;
}

#portfolio .partition {
    display: grid;
    grid-template-columns: 1fr 6fr;
  }
  
  @media (min-width: 767px) {
    .partition {
    flex-direction: row;
  }
}
#portfolio .left-skill {
    display: flex;
    flex-direction: column;
  }

#portfolio .left-skill .skill-item{
    height: 60px;
    width: 60px;
    position: relative;
    margin: bottom 20px;
    left: 30%;
}

#portfolio .left-skill .skill-item img{
    height: 50px;
    width: 50px;
    display: block;
    object-fit: scale-down;
    border-radius: 4px;
}

#portfolio .tooltip{
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    color: #77A6F7;
    padding: 5px;
    border-radius: 4px;
    font-size: 14px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease; 
}

#portfolio .skill-item:hover .tooltip{
    visibility: visible;
    opacity: 1;
}

#portfolio .right-project{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#portfolio .right-project .row{
    /* display: flex; */
    display: inline;
    /* align-items: right;
    justify-content: space-evenly;
    margin-bottom: 30px; */
}

#portfolio .right-project .row .h3{
    color: #ffffff;
}

.portfolio-carousel .owl-dots {
    margin-top: 25px;
    text-align: center;

  }
  
  .portfolio-carousel .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background: #ffffff;
  }
  
  .portfolio-carousel .owl-dot.active {
    background: #00887A;
  }

/* Filter grid style  */
/* .port-head-cont{
    margin:20px auto 40px auto;
    text-align: center;
}

.port-head-cont button{
    margin:5px 2px;
}

#portfolio .portfolio-item {
    right: 0;
}

#portfolio .portfolio-item  {
    position: relative;
    display: block;
    width: 300px;
    height: 300px;
    margin: auto;
    margin-bottom: 30px;
    padding: auto;
    cursor: pointer;
}

#portfolio .portfolio-item img {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
        border-radius: 4px;
}
#portfolio .portfolio-item  .caption-port {
    position: absolute;
    width: calc(100% - 120px);
    height: calc(100% - 60px);
    top: 30px;
    left: 60px;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
    opacity: 0;
    background: #ffffff;
    display: block;

}

#portfolio .portfolio-item .caption-port:hover {
    opacity: 1;

}

#portfolio .portfolio-item .caption-port .caption-port-content {
  position: absolute;
  width: calc(100% - 120px);
  height: calc(100% - 60px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #77A6F7;
}
*/
/* @media (max-width: 767px) {
    #portfolio .portfolio-item {
        margin: auto;
        padding: auto;
        margin-bottom: 30px;

    }
} */

/*====================================================
                      JOURNEY
======================================================*/
 
#journey {
    background: #ffffff;
}

#timeline {
    overflow: hidden;
    position: relative;
    padding: 60px 0;
}

/* center vertical line */
#timeline:before {
    content: "";
    width: 1px;
    height: 100%;
    background: #77A6F7;
    position: absolute;
    top: 0;
    left: 50%;
}

#timeline .timeline {
    width: 50%;
    clear: both;
    position: relative;
}

#timeline .timeline:before,
#timeline .timeline:after {
    content: "";
    display: block;
    clear: both;
}

/* first and last decoration node */
#timeline .timeline:first-child:before,
#timeline .timeline:last-child:before {
    content: "";
    width: 11px;
    height: 11px;
    background: #77A6F7;
    box-sizing: content-box;
    border: 5px solid #ffffff;
    box-shadow: 0 0 0 2px #77A6F7;
    position: absolute;
    top: -54px;
    right: -11px;
    transform: rotate(45deg);
}

#timeline .timeline:last-child:before {
    top: auto;
    bottom: -54px;
}

#timeline .timeline:last-child:nth-child(even):before {
    right: auto;
    left: -11px;
}

/* middle node on vertical line */
#timeline .timeline-icon {
    width: 24px;
    height: 24px;
    background: #ffffff;
    border: 1px solid #77A6F7;
    position: absolute;
    top: 17px;
    right: -13px;
    z-index: 1;
    transform: rotate(45deg);
}

/* center of middle node on vertical line */
#timeline .timeline-icon:before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.2s ease 0s;
}

#timeline .timeline:hover .timeline-icon:before {
    background: #77A6F7;
}

/* content box */
#timeline .timeline-content {
    width: 85%;
    padding: 18px 30px;
    background: #ffffff;
    text-align: left;
    float: left;
    border: 1px solid transparent;
    position: relative;
    transition: all 0.3s ease 0s;
    /* box-shadow: 0 10px 30px 0 rgba(67, 80, 98, 0.24), 0 2px 4px 0 rgba(67, 80, 98, 0.1) !important;  */
    box-shadow: 0 1px 1px 0 rgba(67, 80, 98, 0.24), 0 2px 4px 0 rgba(67, 80, 98, 0.1) !important;
}

/* #timeline .timeline:hover .timeline-content {
    border: 1px solid #00887A;
} */

/* node attached to the content box  */
#timeline .timeline-content:before {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background: #ffffff;
    border: 1px solid #77A6F7;
    position: absolute;
    top: 21px;
    right: -7.3px;
    transform: rotate(45deg);
    transition: all 0.2s ease 0s;
}

#timeline .timeline:hover .timeline-content:before {
    background: #77A6F7;
    border-color: #77A6F7;
}

/* horizontal line connecting 2 nodes  */
#timeline .timeline-content:after {
    content: "";
    width: 11%;
    height: 1px;
    background: #77A6F7;
    position: absolute;
    top: 28px;
    right: -14%;
}

/* date */
#timeline .date {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #77A6F7;
    margin: 0 0 8px;
    transition: all 0.3s ease 0s;
    width: 150px;
    letter-spacing: 1px;

}

/* #timeline .timeline:hover .date {
    color: #77A6F7;
} */

/* content */
#timeline .title {
    margin: 0 0 5px 0;
    font-size: 22px;
    font-weight: 600;
    color: #77A6F7;
    margin-top: 0;
    transition: all 0.3s ease 0s;
}

/* #timeline .timeline:hover .title {
    color: #77A6F7;
} */

#timeline .description {
    color: #77A6F7;
    margin: 0 0 10px 0;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

#timeline .timeline-content li {
    /* margin: 15px; */
    list-style-position: outside;
    margin: 0;
    font-size: 16px;
}

#timeline .timeline:nth-child(2n),
#timeline .timeline:nth-child(2n) .timeline-content {
    float: right;
    text-align: left;
}

#timeline .timeline:nth-child(2n) .timeline-icon {
    right: 0;
    left: -12px;
}

#timeline .timeline:nth-child(2n) .timeline-content:before {
    left: -7.3px;
}

#timeline .timeline:nth-child(2n) .timeline-content:after {
    left: -14%;
}

#timeline .timeline:nth-child(2n) .timeline-content .date {
    position: absolute;
    top: 15px;
    right: calc(100% + 90px);
    transform: translateY(0%);
    text-align: right;

  }

  #timeline .timeline:nth-child(odd) .timeline-content .date {
    position: absolute;
    top: 15px;
    left: calc(100% + 90px);
    transform: translateY(0%);
    text-align: left;
  }
 
  /* for device with screen only, can use @media to test the mobile version on desktop by setting min-width */
  @media only screen and (max-width: 767px) {
    #timeline {
        padding-left: 20px;
    }
    #timeline:before {
        left: 20px;
    }
    #timeline .timeline {
        width: 100%;
    }
    #timeline .timeline,
    #timeline .timeline-content {
        float: right;
        padding:5px;
        text-align: left;
    }
    #timeline .timeline:first-child:before,
    #timeline .timeline:last-child:nth-child(odd):before {
        right: auto;
        left: -11px;
    }
    #timeline .timeline-icon {
        right: 0;
        left: -12px;
    }
    #timeline .timeline-content:before {
        left: -7.3px;
    }
    #timeline .timeline-content:after {
        left: -14%;
    }

    #timeline .date {
        text-align: left;
        position: absolute;
        width: 60px;
        top: 0;
        font-size:12px;
        letter-spacing:0;
        /* transform: translateY(-100%); Move the date upwards */
      }

      #timeline .timeline:nth-child(2n) .timeline-content .date {
        position: absolute;
        top: 25px;
        text-align: left;
        right: 0;
        left: -60px;
        font-size: smaller;
      }

      #timeline .timeline:nth-child(odd) .timeline-content .date {
        position: absolute;
        top: 25px;
        text-align: left;
        right: 0;
        left: -60px;
        font-size: smaller;
      }
}

/*==================================================
                    INTERESTS
====================================================*/  
#interests {
    background: #77A6F7;
  }

  #interests h2, #interests h3 {
    color: #ffffff;
}

  #interests h2 span:before, #interests h2 span:after {
    background-color: #ffffff;
}
  
  #interests1 .container .row {
    display: inline;
}
.interest-carousel .owl-dots {
    margin-top: 25px;
    text-align: center;
  }
  
  .interest-carousel .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background: #ffffff;
  }
  
  .interest-carousel .owl-dot.active {
    background: #00887A;
  }