// Core variables and mixins
@import "variables.scss";
@import "mixins.scss";
// Global CSS
@import "global.scss";
@import "nav.scss";
@import "resume-item.scss";
@import "bootstrap-overrides.scss";
// Components

.interests-carousel .owl-dots {
    margin-top: 25px;
    text-align: center;
}

.interests-carousel .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background: #dddddd;
}

.interests-carousel .owl-dot.active {
    background: $primary;
}

